@page title{
    size: a4 portrait;
    margin: 2cm;

    @frame content_frame {          /* Content Frame */
        left: 50pt; width: 512pt; top: 90pt; height: 632pt;
    }

}

@page disclaimer{
    size: a4 portrait;
    margin: 2cm;

    @frame content_frame {          /* Content Frame */
        left: 50pt; width: 512pt; top: 90pt; height: 632pt;
    }
    @frame footer_frame {           /* Another static Frame */
        -pdf-frame-content: footer_content;
        left: 50pt; width: 512pt; top: 772pt; height: 20pt;
    }
}

@page body{
    size: a4 portrait;
    margin: 2cm;

    @frame header_frame {           /* Static Frame */
        -pdf-frame-content: header_content;
        left: 50pt; width: 512pt; top: 50pt; height: 40pt;
    }
    @frame content_frame {          /* Content Frame */
        left: 50pt; width: 512pt; top: 90pt; height: 632pt;
    }
    @frame footer_frame {           /* Another static Frame */
        -pdf-frame-content: footer_content;
        left: 50pt; width: 512pt; top: 772pt; height: 20pt;
    }
}

.title-page {

}
.book-mark-title {
    display: None;
}

.epa-logo-holder {
    background-color: #205493;
    margin-top: 5px;
    margin-bottom: 5px;
}
.epa-logo {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.epa-logo-png {
    width: 200px;
}
.cyan-logo {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    width: 200px;
}
.legend-description {
    text-align: left;
    font-size: 10px;
}
.title-block {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.location-title-block {
    text-align: center;
    font-size: 18px;
}
.date-block {
    text-align: center;
    font-size: 14px;
}
.report-version {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 25px;
}
.separator {
    text-align: center;
    font-size: 12px;
}
.disclaimer-block {
    /*text-align: center;*/
}
.disclaimer-title {
    /*text-align: center;*/
    margin-bottom: 15px;
    font-size: 14px;
    /*-pdf-outline: false;*/
}
.disclaimer p {
    /*text-align: center;*/
    vertical-align: center;
    margin-bottom: 15px;
}

pdftoc {
    color: #666;
}
pdftoc.pdftoclevel0 {
    font-weight: bold;
    /*margin-top: 0.5em;*/
}
pdftoc.pdftoclevel1 {
    margin-left: 1em;
}
pdftoc.pdftoclevel2 {
    margin-left: 2em;
    font-style: italic;
}
pdftoc.pdftoclevel3 {
    margin-left: 3em;
    font-style: italic;
}
pdftoc.pdftoclevel4 {
    margin-left: 4em;
    font-style: italic;
}
pdftoc.pdftoclevel5 {
    margin-left: 5em;
    font-style: italic;
}
.waterbody-header {
    width: 512px;
    margin-bottom: 20px;
    padding-top: 10px;
}
.waterbody-title-block {
    text-align: center;
    background-color: #205493;
    margin-top: 5px;
    margin-bottom: 5px;
}
.waterbody-title {
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    vertical-align: center;
}
.waterbody-stats-block {
    margin-bottom: 5px;
    /*border-bottom: 1px solid darkgray;*/
}
.waterbody-stat-table {
    text-align: center;
    padding-top: 5px;
    margin-bottom: 10px;
    font-size: 8px;
}
.group-stat-table {
    text-align: center;
    padding-top: 5px;
    margin-bottom: 10px;

}
.waterbody-stat-table-row {
    padding: 1px;
    padding-top: 2px;
    width: 600px;
    border: none;
}

.waterbody-stat-table-row td {
    width: 25%;
}
.waterbody-stat-name {
    border-right: 1px solid darkgray;
    font-weight: bold;
}
.waterbody-stat-value {
}

.group-summary-block {
    margin-bottom: 5px;
    /*border-bottom: 1px solid darkgray;*/
}
.group-stat-table-row {
    padding: 1px;
    padding-top: 2px;
    width: 600px;
}
.group-stat-name {
    font-weight: bold;
    border-right: 1px solid darkgray;
}
.group-stat-value {
    font-size: 10px;
}
.group-raster-image1 {
    width: 512px;
    margin-top: 5px;
    margin-left: 225px;
    margin-bottom: 25px;
}
.group-raster-image2 {
    width: 512px;
    /*padding-top: 20px;*/
    margin-left: 225px;
}
.waterbody-column-left {
    width: 400px;
}
.waterbody-stat-image {
    width: 516px;
    text-align: center;
    /*margin-bottom: 20px;*/
}
.waterbody-stat-image1 {
    width: 516px;
    text-align: center;
    margin-left: 200px;
}
.waterbody-stat-image2 {
    width: 516px;
    text-align: center;
    margin-left: 200px;
}
.waterbody-stat-image3 {
    width: 516px;
    text-align: center;
    margin-left: 200px;
}
.waterbody-column-right {
    text-align: center;
    border-left: 1px lightgray solid;
    width: 400px;
}
.waterbody-lastest-raster {
    width: 200px;
    text-align: center;
}
.waterbody-raster-title {
    font-size: 12px;
    text-align: center;
    margin-bottom: -10px;
    padding-top: 10px;
    border-top: 1px solid darkgray;
    width: 1000px;
}
.stats-table-row {
    /*width: 512px;*/
}
.waterbody-stats-table {
    /*width: 512px;*/
}
.group-plot-table {
    -pdf-keep-in-frame-mode: shrink;
    width: 512px;
}
.waterbody-plot-table {
    /*-pdf-keep-in-frame-mode: shrink;*/
    /*width: 512px;*/
}
.waterbody-pie-plot-png {
    width: 512px;
}
.table-top-row {
    width: 512px;
}
.waterbody-histogram-plot-png {
    /*width: 512px;*/
    /*height: 400px;*/
}

.description-legends {
    width: 512px;
    -pdf-keep-in-frame-mode: shrink;
}
.descript-left {
    width: 200px;
    padding-left: 25px;
    padding-right: 10px;
}
.dn-descript-left {
    padding-left: 10px;
    margin-right: 20px;
    width: 512px;
    text-align: center;
}
.descript-right {
    padding-left: 10px;
    padding-right: 25px;
    width: 512px;
    text-align: center;
}
.dn-descript-right {
    width: 200px;
    margin-left: 5px;
    font-size: 10px;
    text-align: center;
}
.level-conversion {
    /*width: 250px;*/
}
.dn-table-header {
    width: 250px;
    background-color: lightgray;
}
.dn-cat {
    width: 20%;
    text-align: center;
    vertical-align: center;
    padding-top: 15px;
}
.dn-border{
    border-right: 1px darkgray solid;
}
.dn-lower {
    width: 40%;
    text-align: center;
    padding-left: 50px;
}
.dn-upper {
    text-align: center;
    width: 40%;
    padding-left: 50px;
}
.dn-table-row {
    width: 100%;
    padding-top: 3px;
    border-bottom: 1px solid darkgray;
}
.dn-cat-value {
    width: 20%;
    text-align: center;
    padding-top: 2px;
}
.dn-value {
    width: 20%;
    text-align: center;
}
.dn-title-top td{
    width: 100%;
    text-align: center;
}
.dn-title-bottom td{
    width: 50%;
    text-align: center;
}
.dn-labels {
    text-align: center;
    border-bottom: 1px darkgray solid;
}
.conversion-title, .legend-title {
    font-size: 12px;
    text-align: center;
}
.h2-title {
    color: #205493;
    font-size: 18px;
}
.h3-title {
    color: #205493;
    font-size: 16px;
}
.h4-title {
    color: #205493;
    font-size: 14px;
}
.h5-title {
    color: #205493;
    font-size: 12px;
}
.group-raster-block {
    text-align: center;
    /*border-top: 1px solid darkgray;*/
    /*width: 1000px;*/
    margin-top: 5px;
}
.group-raster-image2 {
    /*margin-tops: 20px;*/
}
.table-divider {
    border-left: 1px double darkgray;
}
.waterbody-historic-plot-png {
    /*width: 1000px;*/
}

/*30 Day Datatable*/
.waterbody-data-table-block {
    /*width: 512px;*/
    text-align: center;
    /*-pdf-keep-in-frame-mode: shrink;*/
}
.waterbody-data-table-block-row {
    /*width: 512px;*/
    text-align: center;
}
.data-table {
    text-align: center;
    /*-pdf-keep-in-frame-mode: shrink;*/
}
.data-table-row-label {
    text-align: center;
    background-color: lightgray;
    border: 1px white solid;
    padding-top: 1px;
}
.data-table-label {
    text-align: center;
    color: black;
    font-size: 6px;
}
.data-table-row-data {
    text-align: center;
    border: 1px white solid;
    background-color: aliceblue;
}
.data-table-cell {
    color: gray;
    text-align: center;
    padding-top: 1px;
    padding-bottom: -1px;
    font-size: 6px;
}
.metric-order-block {
    width: 100%;
}
.metric-order-table {
    text-align: center;
    font-size: 12px;
    width: 512pt;
    display: inline-block;
}
.metric-order-header{
    width: 512px;
    font-weight: bold;
    border-bottom: 1px solid darkgray;
    text-align: center;
    /*margin-bottom: 5px;*/
}
.metric-order-header-name {
    width: 50%;
    /*padding: 0 64px;*/
    /*margin: 0 64px;*/
    text-align: center;
    /*padding: 0 32px;*/
}

.metric-order-table-row {
    padding: 2px;
    width: 600px;
    border: none;
    font-size: 10px;
}
.metric-order-table-row td {
    width: 25%;
}
.metric-order-name {
    border-right: 1px solid darkgray;
    /*margin-left: 10px;*/
    /*font-weight: bold;*/
}
.metric-order-value {
    /*margin-right: 10px;*/
}
.table-break {
    /*border-right: 2px double darkgray;*/
}