<div class="waterbody-block">
    <div class="waterbody-title-block">
        {% if TITLE_LEVEL == 2 %}
            <h2 class="waterbody-title h2-title">{{GROUP_TYPE}}{% if GROUP_NAME %}: {{GROUP_NAME}}{% endif %}{% if STATE %}, {{STATE}}{% endif %}</h2>
        {% else %}
            <h3 class="waterbody-title h3-title">{{GROUP_TYPE}}{% if GROUP_NAME %}: {{GROUP_NAME}}{% endif %}{% if STATE %}, {{STATE}}{% endif %}</h3>
        {% endif %}
    </div>
    <div class="group-summary-block">
        <table class="group-stat-table">
            {% for stat_k, stat_v in GROUP_PROPERTIES.items() %}
            {% if loop.index is even %}
            <tr class="group-stat-table-row">
                <td class="group-stat-name">{{stat_k}}</td>
                <td class="group-stat-value">{{stat_v}}</td>
            {% else %}
                <td class="group-stat-name">{{stat_k}}</td>
                <td class="group-stat-value">{{stat_v}}</td>
            </tr>
            {% endif %}
            {% endfor %}
            </tr>
        </table>
    </div>
    <div class="group-raster-block">
        <table class="group-plot-table">
            <tr class="group-raster-image1">
                <td class="waterbody-stat-image">
                    <img src="{{GROUP_RASTER}}" class="group-raster-png1" alt="Group waterbody status.">
                </td>
            </tr>
            <tr class="group-raster-image2">
                <td class="waterbody-stat-image">
                    <img src="{{GROUP_30}}" class="group-raster-png2" alt="Group waterbody status.">
                </td>
            </tr>
        </table>
    </div>
    <pdf:nextpage/>
    <div class="metric-order-block">
        <table class="metric-order-table">
            <tr class="metric-order-header">
                <th class="metric-order-header-name" style="border-right: 1px solid lightgray;">Waterbodies ordered by Frequency (%)</th>
                <th class="metric-order-header-name">Waterbodies ordered by Extent (%)</th>
            </tr>
        </table>
        <table class="metric-order-table" style="margin-top:10px;">
            {% for metric in WB_METRICS_ORDER %}
                <tr class="metric-order-table-row">
                    <td class="metric-order-name">{{metric[0]}}</td>
                    <td class="metric-order-value table-break">{{metric[1]}}</td>
                    <td class="metric-order-name">{{metric[2]}}</td>
                    <td class="metric-order-value">{{metric[3]}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<pdf:nextpage/>