<div class="waterbody-block">
    <div class="waterbody-title-block">
        {% if TITLE_LEVEL == 3 %}
            <h3 class="waterbody-title">
                {{ WATER_BODY_NAME }} - {{STATE}}
            </h3>
        {% else %}
            <h4 class="waterbody-title">
                {{ WATER_BODY_NAME }} - {{STATE}}
            </h4>
        {% endif %}
    </div>
    <div class="waterbody-stats-block">
        <table class="waterbody-stat-table">
            {% for stat_k, stat_v in WATER_BODY_STATS.items() %}
                {% if loop.index is even %}
                    <tr class="waterbody-stat-table-row">
                        <td class="waterbody-stat-name">{{stat_k}}</td>
                        <td class="waterbody-stat-value">{{stat_v}}</td>
                {% else %}
                        <td class="waterbody-stat-name">{{stat_k}}</td>
                        <td class="waterbody-stat-value">{{stat_v}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tr>
        </table>
    </div>
    <div class="waterbody-raster-title">Waterbody satellite imagery summary for {{REPORT_DATE}}</div>
    <table class="waterbody-header">
        <tr>
            <td class="waterbody-column-left">
                <img src="{{WATERBODY_RASTER}}" class="waterbody-raster-png"
                     alt="Waterbody satellite imagery for report date.">
            </td>
            <td class="waterbody-column-right">
                <img src="{{CURRENT_PIE}}" class="waterbody-pie-plot-png waterbody-state-image"
                     alt="Waterbody pie chart">
            </td>
        </tr>
    </table>
    <table class="waterbody-plot-table">
        <tr class="waterbody-stat-image1">
            <td class="waterbody-stat-image">
                <img src="{{CURRENT_HISTOGRAM}}" class="waterbody-histogram-plot-png waterbody-stat-image"
                     alt="Waterbody current histogram">
            </td>
        </tr>
    </table>
    <pdf:nextpage/>
    <table class="waterbody-plot-table" style="width: 600px; margin-top: -1px; margin-bottom: -5px;">
        <tr class="waterbody-stat-image2">
            <td class="waterbody-stat-image">
                <img src="{{STACKED30}}" class="waterbody-30day-plot-png waterbody-state-image" alt="30 Day historic data">
            </td>
        </tr>
    </table>
    <table style="width: 600px; margin-top: -1px; margin-bottom: -5px;">
        <tr class="waterbody-data-table-block">
            <td class="waterbody-data-table-block-row">{{DATA_TABLE | safe}}</td>
        </tr>
    </table>
    <table style="width: 600px; margin-top: -1px;">
        <tr class="waterbody-stat-image3">
            <td class="waterbody-stat-image">
                <img src="{{HISTORIC_LINE}}" class="waterbody-historic-plot-png waterbody-state-image" alt="Waterbody historic data">
            </td>
        </tr>
    </table>
</div>
<pdf:nextpage/>